<!DOCTYPE html>
<html>

<head>
    <title>Tela de Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./public/css/style-login.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="wrapper">
        <div class="logo">
            <img src="./public/images/logo.jpg" alt="">
        </div>
        <div class="text-center mt-4 name">
            Inventory
        </div>
        <form class="p-3 mt-3" action="/login" method="post">
            <div class="form-field d-flex align-items-center">
                <span class="far fa-user"></span>
                <input type="email" name="email" id="email" required placeholder="email">
            </div>
            <div class="form-field d-flex align-items-center">
                <span class="far fa-user"></span>
                <input type="text" name="userName" id="userName" required placeholder="Username">
            </div>
            <div class="form-field d-flex align-items-center">
                <span class="far fa-user"></span>
                <input type="text" name="empresa" id="empresa" required placeholder="Nome da Empresa">
            </div>
            <div class="form-field d-flex align-items-center">
                <span class="fas fa-key"></span>
                <input type="password" name="pwd" id="pwd" required placeholder="Password">
            </div>
            <button class="btn mt-3" type="submit">Cadastrar</button>
        </form>
        </form>
    </div>
    <!-- <script src="./js/login_cadastro.js"></script> -->
</body>

</html>