<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style-login.css" />
    <title>cadastro</title>
</head>
<body>
    <form name="cadastrar" align="center">
        <!-- <p>
            <a href="/templates/login.html">voltar</a>
            </p> -->
        <p style="font-size: 30px; text-transform: uppercase;">Cadastro</p>
        <p><input required placeholder="Nome"></p>
        <p><input required placeholder="Nome da empresa"></p>
        <p><input required placeholder="Email"></p>
        <p><input type="password" required placeholder="Senha"></p>
        <p><button type="submit">Sign up</button></p>
    </form>
    

</body>
</html>